.gradient{
    background-image: url(https://img.freepik.com/free-vector/paint-brushes-color-palette_1308-126704.jpg?size=626&ext=jpg&ga=GA1.2.1262968593.1683090717&semt=ais);
    background-size: contain;
    opacity: 0.4;

    
}